<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mt-3">Login</h1>
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="NickName">NickName</label>
            <input type="text" id="NickName" name="NickName" class="form-control" placeholder="enter NickName">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" id="Password" name="Password" class="form-control" placeholder="enter Password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-3">
          No Account? <a href="/register">Register</a>
        </p>
      </div>
    </div>
  </div>